

<div class="container">
    <div class="row center">
     <div>
         <img src="assets/404.gif" alt="">
     </div>
        <div class=" form">
            <h2 class="title">Oups! vous êtes</h2>
            <h5 class="description mb-5">
              
                
                La page que vous recherchez est introuvable.
               </h5>
         
              
                   
                    <button routerLink="/"  [style]="{'width': '100%'}" pButton pRipple type="button" label="Go back" class="p-button-raised" styleClass="p-button-sm"></button>
         
         <hr>
       
        
        </div>
    
    </div>
</div>
