<nav style="   background-color:#003d99 ; height: 64px;"  class="navbar  navbar-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h1 style="text-align: center;  margin-top: -16px;  margin-bottom: 0!important;">ZATEX</h1>
    </a>

      <ul >
        <div class="dropdown">
          <a (click)="op.toggle($event)"><span style="margin-right: 5px; color:white;font-size: 20px;">{{user?.name}} {{user?.lastName}}</span><i  pBadge severity="success" style="min-width: 0.5rem!important;height:0.5rem;">  
            
            <img *ngIf="user.urlPhoto" class="app-avatar" [src]="user.urlPhoto" alt="avatar">
            <img *ngIf="!user.urlPhoto" class="app-avatar" [ngxLetterImageAvatar]="{ name:name }" alt="avatar">
          </i>
         
          </a>
        </div>
        
      </ul>

    
   
  </div>
</nav>
<p-overlayPanel #op>
  <ng-template pTemplate>
    <div class="dropdowntog">

      <a>Profile</a>
      <a (click)="logOut()">Logout</a>

    </div>
  </ng-template>
</p-overlayPanel>