

<div class="container">
    <div class="row center">
     <div>
         <img src="assets/checked.png" alt="">
     </div>
        <div class=" form">
            
            <h5 class="description mb-5">
              
                
                Felicitation votre compte à été crée avec succés
               </h5>
         
              
                   
                    <button routerLink="/auth/login"  [loading]="isLoading" [style]="{'width': '100%'}" pButton pRipple type="button" label="Démarrer" class="p-button-raised" styleClass="p-button-sm"></button>
         
         <hr>
       
        
        </div>
    
    </div>
</div>
